.buttonPrimary{
    background-color : #007bff;
    color:white;
    border-radius: 5px;
    border: #007bff solid 2px;
    margin: 5px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto ;
}
.buttonDanger{
    background-color :  #FF5733 ;
    color:white;
    border-radius: 5px;
    border:  #FF5733  solid 2px;
    margin: 5px;
    height: 40px;
}